@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');



@theme {
  --font-display: "Candal", sans-serif;
}


h1, h2{
    font-family: "Candal", sans-serif;
}

h3, h4{
    

    font-family: 'Satoshi', sans-serif;
}

p{

    font-family: 'Satoshi', sans-serif;

}